---
layout: page
title: 分类
permalink: /category/
---


<div class="category">
  <h1 data-i18n="category_page_title">文章分类</h1>

  <ul id="categories">
  {% for category in site.categories %}
    {% assign category_name = category | first %}
    <li><a href="{{ site.baseurl }}/category/#{{ category_name }}">{% include category_display.html name=category_name %}({{ category | last | size }})</a></li>
  {% endfor %}
  </ul>

  <div class="post post-archive">
  {% for category in site.categories %}
  {% assign category_name = category | first %}
  <h3 id="{{ category_name }}">{% include category_display.html name=category_name %}</h3>
  <ul class="arc-list">
      {% for post in category.last %}
          <li><span class="date"><span data-lang-block="zh">{{ post.date | date: "%Y/%m/%d" }}</span><span data-lang-block="en" style="display:none;">{{ post.date | date: "%B %e, %Y" }}</span></span><a href="{{ post.url }}"><span data-lang-block="zh">{{ post.title }}</span><span data-lang-block="en" style="display:none;">{{ post.title_en | default: post.title }}</span></a></li>
      {% endfor %}
  </ul>
  {% endfor %}
  </div>
</div>
