<!DOCTYPE html>
<html lang="zh-CN" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
  <meta content="telephone=no" name="format-detection">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | {{ site.subtitle}}</title>
  
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | split: ' ' | join: ', ' }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  
  <link rel="Shortcut Icon" type="image/x-icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/favicon.ico">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}">
  
  <link rel="stylesheet" type="text/css" href="{{ "/css/normalize.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/pure-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/grids-responsive-min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/style.css" | prepend: site.baseurl }}">

  <!--use mathJax to edit formulas in LaTex grammar.-->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
          inlineMath: [['$','$']]
        }
      });
  </script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>

  <meta name="google-site-verification" content="VxeGYVeS72EsZPNpwBkGVXCB8ZD3VEFLgvpnFl_sawc" />
  <meta name="baidu-site-verification" content="bBeA5neUQU" />
</head>

  <body>
    <div class="body_container">
      <div id="header">
        <div class="site-name">
          <h1 class="hidden">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
          <a id="logo" href="/.">{{ site.title }}</a>
          <p class="description">{{ site.subtitle }}</p>
        </div>
        <div id="nav-menu">
          {% for menu in site.menu %}
            <a href="{{ site.baseurl }}/{{ menu.directory }}"><i class="{{ menu.icon }}"> {{ menu.page }}</i></a>
          {% endfor %}
        </div>
      <script type="text/javascript">
      var menus=document.getElementById('nav-menu');
      var ishome = true;
      for (var i=1;i<menus.childElementCount;i++) {
        var path = location.href;
        var current = path.startsWith(menus.children[i].href);
        if (current) {
          menus.children[i].className ='current';
          ishome = false;
          break;
        }
      }
      if (ishome) {
      	menus.children[0].className ='current';
      }
      </script>
      </div>

      <div id="layout" class="pure-g">
        <div class="pure-u-1 pure-u-md-3-4">
          <div class="content_container">
            {{ content }}
          </div>
        </div>
        
        <div class="pure-u-1-4">
          <div id="sidebar">
            <div class="widget">
              {% if site.baidu_search %}
                <form action="//www.baidu.com/s?gpc=stf" method="get" accept-charset="utf-8" target="_blank" class="search-form">
                  <input type="text" name="q1" maxlength="20" placeholder="Search" class="search-form-input">
                  <input type="hidden" name="q6" value="{{ site.url }}">
                </form>
              {% endif %}
              {% if site.google_search %}
                <form action="//www.google.com/search" method="get" accept-charset="utf-8" target="_blank" class="search-form">
                <input type="text" name="q" maxlength="20" placeholder="Search" class="search-form-input">
                <input type="hidden" name="sitesearch" value="{{ site.url }}">
                </form>
              {% endif %}
            </div>
            

            <div class="widget">
                <div class="widget-title">心情记录</div><ul></ul>
                    只留一盏灯<br>
                    光影似流沙昏黄<br>
                    在指尖流淌<br>
                    余波荡漾<br>
                              ——「九月清晨」
            </div>


            <div class="widget">
                <div class="widget-title">文章分类</div>
                <ul class="category-list">
                  {% for category in site.categories %}
                    <li class="category-list-item">
                      <a class="category-list-link" href="{{ site.baseurl }}/category/#{{ category[0] }}">{{ category[0] }} ({{ category[1] | size }})</a>
                    </li>
                  {% endfor %}
                </ul>
            </div>

<!-- 
            <div class="widget">
                <div class="widget-title">标签</div>
                <div class="tagcloud">
                  {% for tag in site.tags %}
                    <a href="{{ site.baseurl }}/tag/{{ tag[0] }}" style="font-size: 15px;">{{ tag[0] }}</a>
                  {% endfor %}
                </div>
            </div> -->
              

            <div class="widget">
              <div class="widget-title">友情链接</div>
              {% for link in site.links %}
                <a href="{{ site.baseurl }}/{{ menu.directory }}"><i class="{{ menu.icon }}"> {{ menu.page }}</i></a>
                <ul></ul><a href="{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>
              {% endfor %}
            </div>


            {% if site.related_posts %}
            <div class="widget">
                <div class="widget-title">相关推荐</div>
                <ul class="post-list">  
                {% for post in site.related_posts %}
                  <li class="post-list-item"><a class="post-list-link" href="{{ post.url | prepend: site.baseurl }}">{% if post.title %} {{ post.title }} {% else %} {{ site.page_no_title }} {% endif %}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
   
            
            <div class="widget post-toc hide">
                <div class="widget-title">文章目录</div>
            </div>
            <script type="text/javascript">
            function TOCize(toc, content, matchHeightTo) {
                if (!(toc && content && matchHeightTo)) return false
            
                var cnt = 0;
            
                var make = function(tag) {
                    return document.createElement(tag)
                }
            
                var aniscroll = {
                    to: function(top) {
                        aniscroll.target = top;
                        if (aniscroll.running) return;
                        aniscroll.running = setInterval(aniscroll.tick, 20);
                    },
                    target: 0,
                    running: 0,
                    getTop: function() {
                        return window.scrollY || window.pageYOffset || document.documentElement.scrollTop;
                    },
                    setTop: function(value) {
                        (window['scrollTo'] && window.scrollTo(window.scrollX, value))
                    },
                    tick: function() {
                        var oldST = aniscroll.getTop(), newST = ~~((oldST + aniscroll.target) / 2);
                        aniscroll.setTop(newST);
                        if (aniscroll.getTop() < newST || Math.abs(newST - aniscroll.target) < 10) {
                            aniscroll.setTop(aniscroll.target);
                            clearInterval(aniscroll.running)
                            aniscroll.running = 0
                        }
                    }
                }
            
                function scrollToHeader(header, hash, ev) {
                    var y = header.getBoundingClientRect().top + aniscroll.getTop();
                    if (window.history['pushState']) {
                        window.history.pushState({}, header.textContent, "#" + hash);
                        aniscroll.to(y);
                        ev.preventDefault();
                    } else {
                        var y2 = aniscroll.getTop();
                        setTimeout(function() {
                            aniscroll.setTop(y2);
                            aniscroll.to(y);
                        }, 0);
                    }
                }
            
                var generateLink = function(h) {
                    var q = make('a');
                    cnt++;
                    var hash = h.getAttribute('id');
                    if (!hash) {
                        hash = ('generated-hash-' + cnt);
                        h.setAttribute('id', hash);
                    }
                    q.textContent = h.textContent;
                    q.setAttribute('href', '#' + hash );
                    q.addEventListener('click', scrollToHeader.bind(this, h, hash), false);
                    return q;
                };
            
                var hs = content.querySelectorAll('h1, h2, h3, h4, h5, h6');
                var cul = null, plevel = 1;
                var uls = [make('ul')];
                for (var i=0;i<hs.length;i++) {
                    var level = +hs[i].tagName.substr(1);
                    var hi = hs[i];
                    var ti = make('li');
                    ti.appendChild(generateLink(hi));
                    if (plevel < level) {
                        do {
                            uls.push(make('ul'));
                            uls[uls.length-2].appendChild(uls[uls.length-1]);
                        } while (++plevel < level);
                    } else if (plevel > level) {
                        do {
                            cul = uls.pop();
                        } while (--plevel > level);
                    }
                    cul = uls[uls.length-1];
                    cul.appendChild(ti);
                }
                while(true) {
                    var chs = uls[0].children;
                    if (chs.length == 1 && chs[0].tagName == 'UL')
                        uls.shift();
                    else
                        break;
                }
            
                if (!cnt) return false;
            
                var scrolldummy=make('div');
                toc.appendChild(scrolldummy);
                toc.appendChild(uls[0]);
                toc.style.display = 'block';
            
                var maxHeightTOC = '';
                var ppc = document.querySelector('.post');
                var s1 = function(){
                    var scrollTop=aniscroll.getTop(), dummyClientTop=scrolldummy.getBoundingClientRect().top,
                        margin = 10,c,d; // c = dummyHeight, d = TOC.maxHeight (+'px')
                    if ((c = -dummyClientTop + margin) < 0) c = 0;
                    if (c) {
                        var wh = window.innerHeight
                            || document.documentElement.clientHeight
                            || document.body.clientHeight,
                        cbox = matchHeightTo.getBoundingClientRect(),
                        vq = cbox.bottom - dummyClientTop - uls[0].offsetHeight;
                        if (c>vq) c=vq;
                        d = (wh - (margin<<1)) + 'px';
                    } else {
                        d = "";
                    }
                    if (d != maxHeightTOC) { //status lock.
                        maxHeightTOC = d;
                        if (d) {
                            uls[0].setAttribute('style', 'max-height:' + d + '; width:' + (toc.offsetWidth-20) + "px" );
                        } else {
                            uls[0].setAttribute("style","");
                        }
                    }
                    scrolldummy.style.height = (c+'px');
                };
                window.addEventListener('scroll', s1, false);
                window.addEventListener('resize', s1, false);
            }
            
            TOCize(
                document.querySelector('.post-toc'),
                document.querySelector('.post-content'),
                document.querySelector('.post')
            );
            </script>

          </div>
        </div>
      </div>
      
      <div id="footer">
        Copyright &copy; <span id="cur_year"></span> <a href="https://www.piddnad.cn/">Piddnad</a> - All Rights
        Reserved.
        Powered by <a href="http://jekyllrb.com" target="_blank">Jekyll</a>
        <script type="text/javascript">var cur_date = new Date();
        document.getElementById("cur_year").innerHTML = cur_date.getFullYear();</script>
        {% if site.beian %}
        <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> {{ site.beian }}.</a>
        {% endif %}
      </div>
      

      <a id="rocket" href="#top" class="show"></a>
      
      <script src="/js/jquery.min.js" type="text/javascript"></script>
      <script src="/js/totop.js" type="text/javascript"></script>
      <script src="/js/fancybox.pack.js" type="text/javascript"></script>
      <script src="/js/jquery.fancybox.js" type="text/javascript"></script>
      <!-- <link rel="stylesheet" href="/css/jquery.fancybox.css" type="text/css"> -->
      
    </div>

    {% include plugin.html %}

  </body>

</html>
